@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.footer-title{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin: 25px 0px;
}
.footer-small-title{
    margin-bottom: 20px;
}
.footer-content ul {
    font-family: 'Nunito', sans-serif;
    list-style: none;
}
.footer{
    color:#fff;
    background-color: rgb(38, 38, 38);
}
.banner img {

background-repeat: no-repeat;

background-size: cover;

background-position: 50% 50%;

position: relative;

width: 100%;

height: auto;

display: block;

}	