<div class="container-fluid footer">
        <div class="container">

            <div class="row">
                <div class="col-2">
                    <div class="footer-title">Trái Tim MoMo</div>
                    <div class="footer-title">Blog Cuộc Sống</div>
                    <div class="footer-content">
                        <ul>
                            <li>Sống Tốt</li>
                            <li>Sống Khỏe</li>
                            <li>Sống Thông Minh</li>
                            <li>Sống Vui</li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-title">Heo Đất MoMo</div>
                    <div class="footer-title">Hoàn Cảnh Quyên Góp</div>
                    <div class="footer-content">
                        <ul>
                            <li>Vì Trẻ Em</li>
                            <li>Người Già, Người Khuyết Tật</li>
                            <li>Bệnh Hiểm Nghèo</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-2">
                    <div class="footer-title">Đối Tác Đồng Hành</div>
                    <div class="footer-content mt-5">
                        <ul>
                            <li>Hoàn Cảnh Khó Khăn</li>
                            <li>Hỗ Trợ Giáo Dục</li>
                            <li>Đầu Tư Cơ Sở Vật Chất</li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-title">Heo Đất MoMo</div>
                    <div class="footer-title">Hoàn Cảnh Quyên Góp</div>
                    <div class="footer-content">
                        <ul>
                            <li>Vì Trẻ Em</li>
                            <li>Người Già, Người Khuyết Tật</li>
                            <li>Bệnh Hiểm Nghèo</li>
                        </ul>
                    </div>
                </div>

                <div class="col-4 mb-5">
                    <div class="footer-title">CHĂM SÓC KHÁCH HÀNG</div>
                    <p>Địa chỉ: Tầng M, Tòa nhà Petroland, Số 12 Tân Trào, Phường Tân Phú, Quận 7, Thành phố Hồ Chí Minh</p>
                    <p>Hotline: 1900 5454 41 (1000 đ/phút)</p>
                    <p>Email: hotro@momo.vn</p>
                    <p>Tổng đài gọi ra: 028.7306.5555 - 028.9999.5555</p>
                </div>
            </div>
        </div>
    </div>